// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
	
}

h1, h2, h3 {
	
}

h1 {
	margin-top: 10px;
}

h4 {
	margin-bottom: 0;
}

hr.hr-gray {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	background: none;
}

main {
	@media #{$small-and-down} {
		padding-right: $content-padding-right-mobile;
		padding-left: $content-padding-left-mobile;
	}
}

.no-scroll {
	margin: 0; 
	height: 100%; 
	overflow: hidden
}

.animation-element {
	opacity: 0;
	position: relative;
	top: 200px;
}

.constrained-width {
	width: 100%;
	max-width: $content-width;
	margin: 0 auto;
	padding-right: 0;
	padding-left: 0;
	@media #{$large-and-down} {
		padding-right: $content-padding-right;
		padding-left: $content-padding-left;
	}
	@media #{$ipad-and-down} {
		padding-right: $content-padding-right-mobile;
		padding-left: $content-padding-left-mobile;
	}
	@media #{$small-and-down} {
		padding-right: 0;
		padding-left: 0;
	}
}

.constrained-width-narrow {
	width: 100%;
	max-width: $content-width-narrow;
	margin: 0 auto;
}

.constrained-width-ultra-narrow {
	width: 100%;
	max-width: $content-width-ultra-narrow;
	margin: 0 auto;
	@media #{$ipad-and-down} {
		padding: 0 $content-padding-right 0 $content-padding-left;
	}
}

.the-content-wrapper {
	padding: $content-padding-top 0 $content-padding-bottom 0;
	@media #{$large-and-down} {
		padding: $content-padding-top $content-padding-right $content-padding-bottom $content-padding-left;
	}
	@media #{$medium-and-down} {
		padding: 20px 35px;
	}
}

// Gutenberg wide layout
.alignwide {
		margin-left : -80px;
		margin-right : -80px;
}
.alignfull,
.align-wrap-full {
		margin-left : calc( -100vw / 2 + 100% / 2 );
		margin-right : calc( -100vw / 2 + 100% / 2 );
		max-width	: 100vw;
}
.alignfull img {
		width: 100vw;
}

// Default Gutenberg Block Styles
.wp-block-columns {
	@media #{$large-and-down} {
		padding: $content-padding;
	}
	@media #{$ipad-and-down} {
		padding: $content-padding-mobile;
	}
	@media #{$small-and-down} {
		padding: 0;
	}
}

.wp-block-spacer {
	@media #{$ipad-and-down} {
		max-height: calc($content-padding-top-mobile/2);
	}
}

hr {
	border: 0;
	height: 1px;
	background: #cfcfcf;
	max-width: $content-width;
}

figure.wp-block-image {
	margin: 0;
	margin-bottom: 0;
}

.wp-block-image {
	figure.alignright {
		img {
			margin-left: 25px;
		}
	}
	figure.alignleft {
		img {
			margin-right: 25px;
		}
	}
	figure.size-large {
		img {
			width: auto;
		}
	}
}

.no-margin {
	margin: 0;
}


/*********************
	Media Query Classes
**********************/
.hide-on-small-only, .hide-on-small-and-down {
	@media #{$small-and-down} {
		display: none !important;
	}
}
.hide-on-med-and-down {
	@media #{$medium-and-down} {
		display: none !important;
	}
}
.hide-on-med-and-up {
	@media #{$medium-and-up} {
		display: none !important;
	}
}
.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: none !important;
	}
}
.hide-on-large-only {
	@media #{$large-and-up} {
		display: none !important;
	}
}
.show-on-large {
	@media #{$large-and-up} {
		display: block !important;
	}
}
.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: block !important;
	}
}
.show-on-small {
	@media #{$small-and-down} {
		display: block !important;
	}
}
.show-on-medium-and-up {
	@media #{$medium-and-up} {
		display: block !important;
	}
}
.show-on-medium-and-down {
	@media #{$medium-and-down} {
		display: block !important;
	}
}

.gcom-stile-module-screenshot {
	max-width: 100%;
}

/*********************
	ADA "Skip to content"
**********************/
// This visually hides the link unless it receives focus. See https://webaim.org/techniques/css/invisiblecontent/

#skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
 
#skip a:focus {
  position:static;
  width:auto;
  height:auto;
}