// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 20px 35px;
	margin: 10px 0;
	text-decoration: none;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		transition: all 0.2s;
	}
}