/**
  UTILS
*/
@import '../../assets/custom/styles/utils/functions';
@import '../../assets/custom/styles/utils/mixins';
@import '../../assets/custom/styles/utils/variables';

.testimonial-wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	word-break: break-all;
	background-size: cover;
	background-position: center center;
	@media #{$medium-and-down} {
		padding: 50px 0 85px 0;
		height: auto;
	}
	.testimonial-content-wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0;
		width: 100%;
		@media #{$medium-and-down} {
			flex-direction: column;
			padding: 25px 25px 60px 25px;
		}
		@media #{$small-and-down} {
			flex-direction: column;
			padding: 0;
		}
		.testimonial-headline {
			flex: 1;
			display: inline-block;
			margin-bottom: 40px;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			@media #{$medium-and-down} {
				padding: 0;
				margin: 0;
				line-height: 1.25;
				margin-bottom: 50px;
			}
		}
		.testimonial-slider { // .testimonial-right
			border-radius: 0;
			background: transparent;
			border: none;
			margin: 0;
			width: 100%;
			max-width: $content-width;
			@media #{$medium-and-down} {
				padding: 10px;
				width: 100%;
				margin: 0;
			}
			.testimonial-single-wrapper {
				position: relative;
				padding: 30px 20px 20px 60px;
				img.testimonial-photo {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 20px;
					width: 80px;
					height: 80px;
					border-radius: 40px;
				}
				.testimonial-text-wrapper {
					padding: 30px 30px 30px 50px;
					border-radius: 8px;
					border: 2px solid #428bca;
					transition: all .25s ease-in-out;
					.testimonial-single-quote { 
						position: relative;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-items: center;
						text-align: left;
						font-style: italic;
						line-height: 1.5;
						word-break: break-word;
						@media #{$medium-and-down} {
							text-align: left;
							padding: 10px 10px 10px 0;
						}
					}
					.testimonial-single-attribution {
						color: #bbb;
						font-size: 14px;
						text-align: left;
						word-break: break-word;
					}
					.testimonial-single-client {
						margin-top: 20px;
						margin-bottom: -10px;
						text-align: left;
						word-break: normal;
						font-weight: 600;
						@media #{$medium-and-down} {
							text-align: left;
							padding: 10px 10px 10px 0;
							font-size: 28px;
						}
						@media #{$small-and-down} {
							text-align: center;
							padding: 10px;
							font-size: 18px;
						}
					}
				}
			}
			.slick-arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
				font-size: 0;
				line-height: 0;
				display: block;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
				&:before {
						content: '';
						opacity: .6;
						transition: opacity 0.2s ease-in;
				}
				&:hover {
					&:before {
						opacity: 1;
						transition: opacity 0.2s ease-out;
					}
				}
				&.slick-prev {
					left: 0;
				}
				&.slick-next {
					right: 0;
				}
			}
			// Styling the default Slick dots
			.slick-dots {
				display: flex;
				justify-content: center;
				margin: 75px 0 0;
				padding: 1rem 0;
				list-style-type: none;
				li {
					margin: 0;
				}
			
				button {
					display: block;
					border: none;
					padding: 0;
					border-radius: 0;
					background: #d1d1d1;
					width: 70px;
					height: 4px;
					text-indent: -9999px;
				}
			
				li.slick-active button {
					background: #428bca;
				}
				
			}
		}
		
	}
}