// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$content-width: 1200px;
$content-width-narrow: 770px;
$content-width-ultra-narrow: 600px;
$content-padding-top: 60px;
$content-padding-right: 50px;
$content-padding-bottom: 60px;
$content-padding-left: 50px;
$content-padding: $content-padding-top $content-padding-right $content-padding-bottom $content-padding-left;

$content-padding-top-mobile: 25px;
$content-padding-right-mobile: 25px;
$content-padding-bottom-mobile: 25px;
$content-padding-left-mobile: 25px;
$content-padding-mobile: $content-padding-top-mobile $content-padding-right-mobile $content-padding-bottom-mobile $content-padding-left-mobile;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 1201px !default;
$large-screen-up: 1351px !default;
$small-screen: 600px !default;
$medium-screen: 1200px !default;
$large-screen: 1350px !default;
$ipad-screen: 768px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$ipad-and-up:  "only screen and (min-width : #{$ipad-screen})" !default;
$ipad-and-down: "only screen and (max-width : #{$ipad-screen})" !default;