/**
  UTILS
*/
@import '../../assets/custom/styles/utils/functions';
@import '../../assets/custom/styles/utils/mixins';
@import '../../assets/custom/styles/utils/variables';

.gcom-awards-strip-wrapper {
	.gcom-awards-strip-headline {
		display: inline-block;
		margin-bottom: 40px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	.gcom-awards-strip-wrapper-inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: $content-padding-mobile;
		@media #{$ipad-and-down} {
			gap: 40px;
		}
		@media #{$small-and-down} {
			flex-direction: column;
		}
		&.awards-align-left {
			justify-content: flex-start;
			.gcom-award-single-wrapper {
				&:not(:first-of-type) {
					margin-left: 70px;
					@media #{$ipad-and-down} {
						margin-left: 0;
					}
				}
			}
		}
		&.awards-align-right {
			justify-content: flex-end;
			.gcom-award-single-wrapper {
				&:not(:last-of-type) {
					margin-right: 70px;
					@media #{$small-and-down} {
						margin-right: 0;
					}
				}
			}
		}
		&.awards-align-center {
			justify-content: center;
			.gcom-award-single-wrapper {
				&:not(:last-of-type) {
					margin: 0 35px;
				}
			}
		}
		.gcom-award-single-wrapper {
			flex: 1;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			transition: all 0.2s ease-in;
			@media #{$ipad-and-down} {
				flex-basis: 40%;
				margin-bottom: 40px;
			}
			&:hover {
				transition: all 0.2s ease-out;
				.gcom-award-text-wrapper {
					opacity: 1;
					transition: opacity 0.2s ease-in;
				}
			}
			img {
				height: auto;
				width: auto;
				max-width: 150px;
				object-fit: contain;
				filter: grayscale(1);
				opacity: 0.5;
				@media #{$small-and-down} {
					margin-right: 32px;
					object-fit: contain;
					object-position: center center;
					flex: 1;
					width: 25%;
				}
				
			}
			.gcom-award-text-wrapper {
				overflow: hidden;
				margin-top: 20px;
				opacity: 0;
				transition: opacity 0.2s ease-in;
				@media #{$ipad-and-down} {
					overflow: visible;
					opacity: 1;
				}
				@media #{$small-and-down} {
					width: 75%;
				}
				.gcom-award-text-headline {
					line-height: 1.2;
				}
				.gcom-award-text-description {
					font-size: 14px;
					line-height: 1.2;
					margin-top: 10px;
				}
			}
		}
	}
}