/**
  UTILS
**/
@import '../../assets/custom/styles/utils/functions';
@import '../../assets/custom/styles/utils/mixins';
@import '../../assets/custom/styles/utils/variables';

.image-break-wrapper {
	height: 933px;
	clear: both;
	max-width: 100vw;
	&.image-break-height-short {
		height: 525px;
	}
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin: 50px 0;
	@media #{$medium-and-down} {
		flex-direction: column;
	}
	&:after {
		// Background color of overlay is output in header.php because it relies on theme options.
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	a {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		z-index: 2;
		text-decoration: none;
		padding: 0 50px;
		&:first-of-type {
			&:after {
				content: '';
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: inherit;
				height: 80%;
				position: absolute;
				right: 0;
				top: 10%;
				@media #{$medium-and-down} {
					content: '';
					border-right: none;
					border-bottom-width: 1px;
					border-bottom-style: solid;
					border-bottom-color: inherit;
					position: absolute;
					bottom: 0;
					right: unset;
					width: 80%;
				}
			}
		}
		&:hover {
			opacity: 1;
			transition: all 0.1s;
			span {
				transition: all 0.2s;
			}
		}
		.image-break-column {
			text-align: center;
			flex: 1;
			padding-bottom: 20px;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: transparent;
			width: 50%;
			transition: all 0.2s;				
		}
	}
}